.footer{
    height: 255px;
    background-color: rgba(0, 91, 193, 1);
}
.footer > div{
    display: flex;
    flex-direction: column;
}
.footer .sect1{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.sect1 p:nth-child(1){
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
}
.sect1 p:nth-child(2){
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: white;
}
.sect1 p:nth-child(3){
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: white;
}
.footer span{
    display: block;
    border-bottom:1px solid white;
    width: 100%;
    margin-top: 30px;
}
.sect2 ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.sect2 a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: white;
    width: 200px;
    margin-top: 10px;
}
.sect2{
    width: 600px;
    margin-top: 15px;
}
.sect3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
}
.sect3 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: white;
}
.burger{
    background: rgba(0, 0, 0, 0);
    display: none;
    position: relative;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 40px;
}
.burger span{
    top: 17px;
    left: 5px;
    right: 5px;
    height: 5px;
    display: block;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.burger span::before, .burger span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    background-color: white;
    content: '';
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.burger span::before{
    top: -10px;
}
.burger span::after{
    bottom: -10px;
}
.little__cards{
    display: flex;
}