.footer{
    background-color:rgb(0, 128, 214);
    background-size: cover;
}
.footer__container{
    margin-right: auto;
    margin-left: auto;
    width: 1110px;
    background-size: cover;
    padding-top: 40px;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.footer__top h3{
    font-family: "oswald";
    color: white;
    font-weight: lighter;
    font-size: 18px;
}
.footer__top p,a{
    text-decoration: none;
    font-family: "open sans";
    color: white;
    font-size: 14px;
}
.footer__mid{
    display: flex;
    margin-top: 25px;
    margin-bottom: 25px;
}
.footer__mid ul{
    margin-right: 140px;
    line-height: 24px;
    list-style-type: none;
}
.footer__mid a{
    text-decoration: none;
    font-size: 14px;
    font-family: "open sans";
    color: white;
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.footer__bottom p{
    color: white;
    font-family: "open sans";
}