@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald&family=Titillium+Web:wght@600&display=swap');
@import url(../main/style/mai.css);
*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}