@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald&family=Titillium+Web:wght@600&display=swap');
@import "style/mai.css";
@import "style/footer.css";
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.proekt{
    margin-top: 156px;
    margin-bottom: 150px;
}
.proekt__title{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.proekt-title{
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: black;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.card{
    position: relative;
}
.card__imge{
    max-width: 540px;
}
.card__texts{
    left: 255px;
    top: 255px;
    position:absolute;
    padding: 20px 25px;
    z-index: 1;
    background-color: white;
    max-width: 250px;
}
.font__hea{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    line-height: 26.6px;
    color: black;
    font-style: normal;
}
.font__text{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: black;
    font-style: normal;
}
.product{
    margin-bottom: 150px;
}
.product__title{
    justify-content: start;
    width: 100%;
    margin-bottom: 70px;
}
.product__nav{
    width: 20%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.product__item{
    list-style: none;
}
.product__link{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
    transition: 0.3s;
}
.product__link:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 126, 223);
    color: rgb(0, 126, 223);
}
.product__tovars{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.tovar{
    max-width: 350px;
    height: 300px;
    border: 3px solid rgb(0, 126, 223);
    position: relative;
}
.tovar__img{
    width: 100%;
    object-fit: contain;
}
.tovar__opis{
    top: 199px;
    left: 80px;
    width: 265px;
    height: 86px;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    background-color: rgb(0, 126, 223);
}
.tovar__text{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
}
.opisanie{
    margin-bottom: 100px;
}
.opisanie__content{
    display: flex;
    align-items: center;
}
.opisanie__desc{
    width: 35%;
}
.opisanie__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: black;
}
.opisanie__equip{
    width: 65%;
    padding: 50px;
    border: 3px solid rgb(0, 126, 223);
    margin-left: 95px;
}
.opisanie__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.equip__img{
    object-fit: contain;
    width: 100%;
    margin-right: 30px;
}
.opisanie-title{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
}
.equip__content{
    display: flex;
    margin-top: 30px;
}
.equip__wrapper{
    width: 255px;
}.equip__item{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: black;
    margin-bottom: 20px;
}
.equip__title{
    margin-left: 10px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
}
.equip__list{
    margin-top: 30px;
    margin-left: 30px;
}
.news{
    margin-bottom: 120px;
}
.news__title{
    margin-bottom: 77px;
}
.news__left {
    width: 250px;
}
.news__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 51px;
    border: none;
    background: #005BC1;
    transition: all 0.5s ease;
}
.news__text{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.news__btn:hover{
    background: #FFFFFF;
    color: #005BC1;
    border: 2px solid #005BC1;
}
.news__card-big{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 560px;
    
}
.news__card-big img{
    width: 255px;
    margin-right: 30px;
}
.big-card-info div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}
.news__read{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #343434;
}
.big-card-info h3{
    text-decoration-line: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
}
.big-card-info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #979797;
}
.big-card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.big-card-info p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #343434;
}
.news__cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.news__card-little{
    width: 225px;
    height: 242px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.news__card-little:first-child{
    margin-right: 60px;
}
.news__card-little:last-child h3{
    width: 100px;
}
.news__card-little div{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}
.news__card-little p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    color: #343434;
}
.news__card-little h3{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #343434;
    margin-bottom: 20px;
}
.little-card-img{
    width: 128px;
}
@media(max-width:768px){
    .container{
        max-width: 700px;
    }
}