@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald&family=Titillium+Web:wght@600&display=swap');
@import "style/mai.css";
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.proekt{
    margin-top: 156px;
    margin-bottom: 150px;
}
.proekt__title{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.proekt-title{
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: black;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.card{
    position: relative;
}
.card__imge{
    max-width: 540px;
}
.card__texts{
    left: 255px;
    top: 255px;
    position:absolute;
    padding: 20px 25px;
    z-index: 1;
    background-color: white;
    max-width: 250px;
}
.font__hea{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    line-height: 26.6px;
    color: black;
    font-style: normal;
}
.font__text{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: black;
    font-style: normal;
}
.product{
    margin-bottom: 150px;
}
.product__title{
    justify-content: start;
    width: 100%;
    margin-bottom: 70px;
}
.product__nav{
    width: 20%;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.product__item{
    list-style: none;
}
.product__link{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
    transition: 0.5s;
}
.product__link:hover{
    text-decoration: underline;
    text-decoration-color: rgb(0, 126, 223);
    color: rgb(0, 126, 223);
}
.product__tovars{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.tovar{
    max-width: 350px;
    height: 300px;
    border: 3px solid rgb(0, 126, 223);
    position: relative;
}
.tovar__img{
    width: 100%;
    object-fit: contain;
}
.tovar__opisanie{
    top: 199px;
    left: 80px;
    width: 265px;
    height: 86px;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0px 25px;
    background-color: rgb(0, 126, 223);
}
.tovar__text{
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
}