@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald&family=Titillium+Web:wght@600&display=swap');
@import "style/mai.css";
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
.proekt{
    margin-top: 156px;
    margin-bottom: 150px;
}
.proekt__title{
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.proekt-title{
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #343434;
}
.cards{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.card{
    position: relative;
}
.card__imge{
    max-width: 540px;
}
.card__texts{
    left: 255px;
    top: 255px;
    position:absolute;
    padding: 20px 25px;
    z-index: 1;
    background-color: white;
    max-width: 250px;
}
.font__hea{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 18px;
    line-height: 26.6px;
    color: black;
    font-style: normal;
}
.font__text{
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: black;
    font-style: normal;
}